{% extends "base.html" %}
{% block content %}
    <h1 class="text-center">Glossary</h1>
    <br>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item bg-dark">
        <h1 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed bg-primary text-light bg-opacity-75" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Accordion Item #1
          </button>
        </h1>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>

      <div class="accordion-item bg-dark">
        <h1 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed bg-secondary text-light bg-opacity-75" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Accordion Item #2
          </button>
        </h1>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>

      <div class="accordion-item bg-dark">
        <h1 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed bg-success text-light bg-opacity-75" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Accordion Item #3
          </button>
        </h1>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>

      <div class="accordion-item bg-dark">
        <h1 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed bg-danger text-light bg-opacity-75" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Accordion Item #4
          </button>
        </h1>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>

      <div class="accordion-item bg-dark">
        <h1 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed bg-warning text-light bg-opacity-75" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            Accordion Item #5
          </button>
        </h1>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>

      <div class="accordion-item bg-dark">
        <h1 class="accordion-header" id="flush-headingSix">
          <button class="accordion-button collapsed bg-info text-light bg-opacity-75" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
            Accordion Item #6
          </button>
        </h1>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>

      <div class="accordion-item bg-dark">
        <h1 class="accordion-header" id="flush-headingSeven">
          <button class="accordion-button collapsed bg-light text-dark bg-opacity-75" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
            Accordion Item #7
          </button>
        </h1>
        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>

      <div class="accordion-item bg-dark">
        <h1 class="accordion-header" id="flush-headingEight">
          <button class="accordion-button collapsed bg-primary text-light bg-opacity-75" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
            Accordion Item #8
          </button>
        </h1>
        <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>

      <div class="accordion-item bg-dark">
        <h1 class="accordion-header" id="flush-headingNine">
          <button class="accordion-button collapsed bg-secondary text-light bg-opacity-75" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
            Accordion Item #9
          </button>
        </h1>
        <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>

      <div class="accordion-item bg-dark">
        <h1 class="accordion-header" id="flush-headingTen">
          <button class="accordion-button collapsed bg-success text-light bg-opacity-75" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
            Accordion Item #10
          </button>
        </h1>
        <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>

      <div class="accordion-item bg-dark">
        <h1 class="accordion-header" id="flush-headingEleven">
          <button class="accordion-button collapsed bg-danger text-light bg-opacity-75" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
            Accordion Item #11
          </button>
        </h1>
        <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>

      <div class="accordion-item bg-dark">
        <h1 class="accordion-header" id="flush-headingTwelve">
          <button class="accordion-button collapsed bg-warning text-light bg-opacity-75" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
            Accordion Item #12
          </button>
        </h1>
        <div id="flush-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingTwelve" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>

      <div class="accordion-item bg-dark">
        <h1 class="accordion-header" id="flush-headingThirteen">
          <button class="accordion-button collapsed bg-info text-light bg-opacity-75" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
            Accordion Item #13
          </button>
        </h1>
        <div id="flush-collapseThirteen" class="accordion-collapse collapse" aria-labelledby="flush-headingThirteen" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>

      <div class="accordion-item bg-dark">
        <h1 class="accordion-header" id="flush-headingFourteen">
          <button class="accordion-button collapsed bg-light text-dark bg-opacity-75" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFourteen" aria-expanded="false" aria-controls="flush-collapseFourteen">
            Accordion Item #14
          </button>
        </h1>
        <div id="flush-collapseFourteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFourteen" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>

      <div class="accordion-item bg-dark">
        <h1 class="accordion-header" id="flush-headingFifteen">
          <button class="accordion-button collapsed bg-primary text-light bg-opacity-75" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFifteen" aria-expanded="false" aria-controls="flush-collapseFifteen">
            Accordion Item #15
          </button>
        </h1>
        <div id="flush-collapseFifteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFifteen" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>

      <div class="accordion-item bg-dark">
        <h1 class="accordion-header" id="flush-headingSixteen">
          <button class="accordion-button collapsed bg-secondary text-light bg-opacity-75" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSixteen" aria-expanded="false" aria-controls="flush-collapseSixteen">
            Accordion Item #16
          </button>
        </h1>
        <div id="flush-collapseSixteen" class="accordion-collapse collapse" aria-labelledby="flush-headingSixteen" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>

      <div class="accordion-item bg-dark">
        <h1 class="accordion-header" id="flush-headingSeventeen">
          <button class="accordion-button collapsed bg-success text-light bg-opacity-75" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeventeen" aria-expanded="false" aria-controls="flush-collapseSeventeen">
            Accordion Item #17
          </button>
        </h1>
        <div id="flush-collapseSeventeen" class="accordion-collapse collapse" aria-labelledby="flush-headingSeventeen" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>

      <div class="accordion-item bg-dark">
        <h1 class="accordion-header" id="flush-headingEighteen">
          <button class="accordion-button collapsed bg-danger text-light bg-opacity-75" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEighteen" aria-expanded="false" aria-controls="flush-collapseEighteen">
            Accordion Item #18
          </button>
        </h1>
        <div id="flush-collapseEighteen" class="accordion-collapse collapse" aria-labelledby="flush-headingEighteen" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>

      <div class="accordion-item bg-dark">
        <h1 class="accordion-header" id="flush-headingNineteen">
          <button class="accordion-button collapsed bg-warning text-light bg-opacity-75" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNineteen" aria-expanded="false" aria-controls="flush-collapseNineteen">
            Accordion Item #19
          </button>
        </h1>
        <div id="flush-collapseNineteen" class="accordion-collapse collapse" aria-labelledby="flush-headingNineteen" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>

      <div class="accordion-item bg-dark">
        <h1 class="accordion-header" id="flush-headingTwenty">
          <button class="accordion-button collapsed bg-info text-light bg-opacity-75" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwenty" aria-expanded="false" aria-controls="flush-collapseTwenty">
            Accordion Item #20
          </button>
        </h1>
        <div id="flush-collapseTwenty" class="accordion-collapse collapse" aria-labelledby="flush-headingTwenty" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>
    </div>
{% endblock %}